* {
	box-sizing: border-box;
}

html {
    font-family: monospace;
}


body{
  background: url("images/d.png") no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  font-family:monospace ;
  display: flex;
  justify-content: center;
  align-items: center;
}




#clock {
    height:70px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}


#alarm-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection {
    padding-left: 10px;
	text-align:center;
      color: black;
      display: flex;

}


.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:lightgreen;
    margin-top:10px;
}
#clearButton {
    float:right;
    background-color:red;
    margin-top:10px;
}


button{
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}



.white{
    min-width: 200px;
    max-width: 400px;
    background-color: rgba(250, 250,250, .7) ;
    padding: 60px;
    justify-content: center;
}

.center-selection{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    display: flex;
}

@media screen and (max-width: 580px){
body{
  background: url("images/m.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}